@media (max-width: 524px) {
    .header .header_flex .header_navigation_list {
        margin-left: 55px;
    }
}

@media (max-width: 450px) {
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        right: 45px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
       
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition-duration: .25s;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
       
      .header_navigation_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        visibility: hidden;
        top: 0;
        padding: 20px 0 0 20px;
        left: 100%;
        width: 200px;
        height: 100%;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        // margin: 0;
      }
       
      .header_navigation_list li .link_menu_item {
        color: #333;
        display: block;
        font-size: 20px;
        transition-duration: .25s;
        padding: 20px 0 0 20px;
    }
    
    .header_navigation_list li .link_menu_item span {
      color: #333;
    
    }
    
    .header_navigation_list li .link_menu_item::after {
    transform:translateY(10px);
    }
    
    .header_navigation_list li .link_menu_item:hover:after,
    .header_navigation_list li .link_menu_item:focus:after {
        width: 100%;
    }
    
      
    .header_navigation_list li .link_menu_item:hover {
        background-color: #CFD8DC;
      }
       
      #menu-toggle{
        opacity: 0;
      }
       
      #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        left: 0;
      }
      .header .header_flex .header_navigation_list {
        margin-left: 0;
    }
      }

      @media (max-width: 402px) {
          .main-block__body .btn_wrapper {
            flex-wrap: wrap;
          }
        .main-block__body .btn_wrapper .orange {
            flex: 1 1 100%;
            margin-bottom: 20px;
        }
        .main-block__body .btn_wrapper .transparent {
            flex: 1 1 100%;
        }
      }


      @media (max-width: 437px) {
      .main-block__body .promo_title {
          font-size: 42px;
      }
      }

      @media (max-width: 366px) {
        .main-block__body .promo_subtitle {
            font-size: 17px;
        }
        }

      @media (max-width: 1125px) {
          .main-block__image img {
              opacity: 0.4;
          }
      }

      @media (max-width: 976px) {
        br {
          display: none;
        }
    }

    @media (max-width: 794px) {
      .page_services .container__services .wrapper_item .title_service {
        font-size: 20px;
      }
      .page_services .container__services .wrapper_item .description_service {
        font-size: 12px;
      }
      .page_services .container__services .wrapper_item .wrapper_item_min {
        padding: 30px 20px;
      }
    }
    @media (max-width: 660px) {
      .page_services {
        margin-top: 15px;
      }
      .page_services .container__services .wrapper_item {
        width: 100%;
        display: flex;
        justify-content: center;
        min-height: 215px;
        .icon {
          display: flex;
          justify-content: center;
        }
      }
      .page_services .container__services .wrapper_item:not(:last-child) {
        margin-bottom: 15px;
      }

      .page_services .container__services {
        flex-wrap: wrap;
      }
      .page_services .container__services .wrapper_item .title_service {
        text-align: center;
      }
      .page_services .container__services .wrapper_item .description_service {
        text-align: center;
      }
    }

