@media (max-width: 1125px) {
  .main-block__image img {
      opacity: 0.4;
  }
}
@media (max-width: 1073px) {
  .advice .wrapper_advice .advice_item .wrapper_for_text_advice {
    padding: 30px 22px 0 20px;
  }
}
@media (max-width: 1031px) {
  .who_you_are .wrapper_video_content {
    flex-wrap: wrap;
    padding-top: 50px;
  }
  .who_you_are .wrapper_video_content .video_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .who_you_are .wrapper_video_content .video_wrapper .video_item {
    width: 800px;
  }
  .who_you_are .wrapper_video_content .most_text_block {
    width: 100%;
  }
}
@media (max-width: 976px) {
  br {
    display: none;
  }
  .description_all__advice {
    padding: 10px 150px;
  }
}
@media (max-width: 969px) {
  .experience .description_experience {
    padding: 10px 100px;
  }
}
@media (max-width: 934px) {
  .advice .wrapper_advice .advice_item .wrapper_for_text_advice {
    padding: 30px 15px 0 15px;
  }
}
@media (max-width: 879px) {
  .advice .wrapper_advice {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advice .wrapper_advice .advice_item {
    min-width: 40%;
    display: flex;
    justify-content: center;
  }
  .advice .wrapper_advice .advice_item .icon_advice {
    bottom: 50px;
  }
  .advice .wrapper_advice .advice_item .wrapper_for_text_advice .subtitle_advice {
    text-align: center;
  }
  .advice .wrapper_advice .advice_item .wrapper_for_text_advice .description_advice {
    text-align: center;
  }
  .advice .title_all_advice {
    padding-top: 35px;
  }
}
@media (max-width: 794px) {
  .page_services .container__services .wrapper_item .title_service {
    font-size: 20px;
  }
  .page_services .container__services .wrapper_item .description_service {
    font-size: 12px;
  }
  .page_services .container__services .wrapper_item .wrapper_item_min {
    padding: 30px 20px;
  }
}
@media (max-width: 751px) {
  .description_all__advice {
    padding: 10px 80px;
  }
}
@media (max-width: 670px) {
  .experience .wrapper_experience .item_experience .description_experience_text {
    font-size: 12px;
  }
  .experience .wrapper_experience .item_experience .subtitle_experience {
    font-size: 33px;
  }
  .advice .wrapper_advice .advice_item {
    min-width: 100%;
    padding: 0 10px;
    min-height: 296px;
  }
  .advice .wrapper_advice .advice_item .icon_advice {
    bottom: 40px;
  }
}
@media (max-width: 660px) {
  .page_services {
    margin-top: 15px;
  }
  .page_services .container__services .wrapper_item {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 215px;
    .icon {
      display: flex;
      justify-content: center;
    }
  }
  .page_services .container__services .wrapper_item:not(:last-child) {
    margin-bottom: 15px;
  }

  .page_services .container__services {
    flex-wrap: wrap;
  }
  .page_services .container__services .wrapper_item .title_service {
    text-align: center;
  }
  .page_services .container__services .wrapper_item .description_service {
    text-align: center;
  }
  .experience .description_experience {
    padding: 10px 50px;
  }
}
@media (max-width: 634px) {
  .experience .title_all {
    padding-top: 55px;
  }
  .experience .wrapper_experience {
    padding: 35px 0 60px 0;
  }
}
@media (max-width: 574px) {
  .experience .wrapper_experience .item_experience {
    min-width: 240px;
  }
  .experience .wrapper_experience {
    flex-wrap: wrap;
    justify-content: center;
  }
  .description_all__advice {
    padding: 10px 40px;
  }
}
@media (max-width: 524px) {
    .header .header_flex .header_navigation_list {
        margin-left: 55px;
    }
    .experience .description_experience {
      padding: 10px 30px;
    }
}
@media (max-width: 510px) {
  .experience .wrapper_experience .item_experience {
    min-width: 200px;
  }
}
@media (max-width: 450px) {
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 40px;
        right: 45px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
       
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition-duration: .25s;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
       
      .header_navigation_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        visibility: hidden;
        top: 0;
        padding: 20px 0 0 20px;
        left: 100%;
        width: 200px;
        height: 100%;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        // margin: 0;
      }
       
      .header_navigation_list li .link_menu_item {
        color: #333;
        display: block;
        font-size: 20px;
        transition-duration: .25s;
        padding: 20px 0 0 20px;
    }
    
    .header_navigation_list li .link_menu_item span {
      color: #333;
    
    }
    
    .header_navigation_list li .link_menu_item::after {
    transform:translateY(10px);
    }
    
    .header_navigation_list li .link_menu_item:hover:after,
    .header_navigation_list li .link_menu_item:focus:after {
        width: 100%;
    }
    
      
    .header_navigation_list li .link_menu_item:hover {
        background-color: #CFD8DC;
      }
       
      #menu-toggle{
        opacity: 0;
      }
       
      #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        left: 0;
      }
      .header .header_flex .header_navigation_list {
        margin-left: 0;
    }
}
@media (max-width: 437px) {
  .main-block__body .promo_title {
      font-size: 42px;
  }
}
@media (max-width: 428px) {
  .experience .wrapper_experience .item_experience {
    min-width: 180px;
  }
  .description_all__advice {
    padding: 10px 20px;
  }
}
@media (max-width: 402px) {
          .main-block__body .btn_wrapper {
            flex-wrap: wrap;
          }
        .main-block__body .btn_wrapper .orange {
            flex: 1 1 100%;
            margin: 0 0 20px 0;
        }
        .main-block__body .btn_wrapper .transparent {
            flex: 1 1 100%;
        }
}
@media (max-width: 388px) {
.experience .description_experience {
  padding: 10px;
  }
  .experience .wrapper_experience .item_experience {
    min-width: 160px;
  }
  .description_all__advice {
    padding: 10px;
  }
  .advice .wrapper_advice .advice_item .icon_advice {
    bottom: 25px;
  }
  .advice .wrapper_advice .advice_item {
    padding: 0;
}
}
@media (max-width: 366px) {
        .main-block__body .promo_subtitle {
            font-size: 17px;
        }
}
@media (max-width: 348px) {
  .experience .wrapper_experience .item_experience {
    min-width: 140px;
  }
}
     

    

   
    

   

